<!doctype html>
<html>
	<head>
		<title>Detailed info for {{ name }}</title>
	</head>
	<body>
		<h1>{{ name }}</h1>

		<h2>Hourly</h2>
		<img class="refresh" src="../static/images/{{ variable }}/detailed/{{ name }}/hour.png" />

		<h2>Daily</h2>
		<img class="refresh" src="../static/images/{{ variable }}/detailed/{{ name }}/day.png" />

		<h2>Weekly</h2>
		<img class="refresh" src="../static/images/{{ variable }}/detailed/{{ name }}/week.png" />

		<h2>Monthly</h2>
		<img class="refresh" src="../static/images/{{ variable }}/detailed/{{ name }}/month.png" />

		<h2>Yearly</h2>
		<img class="refresh" src="../static/images/{{ variable }}/detailed/{{ name }}/year.png" />

	</body>
</html>
